h1 {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

.box {
    background: linear-gradient(94deg, rgb(76 137 76 / 89%) 0%, rgba(42, 112, 64, 0.7428221288515406) 43%, rgba(62, 132, 101, 0.6755952380952381) 64%, rgba(104, 175, 182, 0.6223739495798319) 100%);
    border-radius: 20px;
    height: 80px;
    width: 700px;
}
.box-content{
    color: #fff;
    margin-bottom: 0;
}
.box-content:hover{
    color: #ffffff6b;
}
.box-about{
    background: radial-gradient(circle, rgba(200, 200, 200, 0.9445028011204482) 13%, rgba(224, 224, 224, 0.7428221288515406) 69%);
    width: 50%;
}
